.pink {
  background-color: var(--pink);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    background-color: var(--pink-light);
  }
}

.white {
  background-color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  color: var(--pink);
  text-decoration: none;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
}
