.info {
  display: flex;
  background-color: #fff;
  margin: 40px 0 0 0;
  padding: 30px;
  border-radius: 10px;
  .StudentPhoto {
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .visitedInfo {
    p {
      text-align: center;
      margin-top: 20px;
    }
  }
  .StudentInfo {
    margin: 0 30px;
  }

  .StudentInfo,
  .StudentRating {
    p {
      margin: 20px 0;
    }
  }
  .StudentRating {
    text-align: end;
  }
}

.about {
  margin: 20px 0 0px 0;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  .aboutHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desc {
    margin-top: 20px;
  }
}
