.lessons {
  background-color: white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  .lessonsList {
    padding: 20px;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid rgb(241, 232, 232);
  }
  .cad {
    .time {
      background-color: rgb(239, 76, 76);
      color: white;
      border-radius: 20px;
      text-align: center;
      margin-bottom: 10px;
    }

    .price {
      background-color: rgb(232, 212, 212);
      color: rgb(222, 50, 50);
      border-radius: 20px;
      text-align: center;
    }
  }
}
