.accordionUl {
  display: block;
}
.accordions {
  margin: 20px 0 0 0;
}

.withdraw {
  background-color: white;
  text-align: center;

  h5 {
    padding: 10px 0 ;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
  }
  .viewProfile {
    width: 90%;
    margin: 20px 0;
  }
}
