p {
  color: rgb(66, 66, 153);
}

main {
  padding: 0 40px;
  background-color: #f0f0f0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;

  .title {
    h1 {
      color: rgb(66, 66, 153);
      border-bottom: 5px solid white;
    }

    .brandName {
      border-bottom: 5px solid rgb(66, 66, 153);
    }
  }

  .buttonLessonType {
    .activeButton {
      background-color: rgb(66, 66, 153);
      color: #f0f0f0;
      font-size: 25px;
      border-radius: 20px;
    }

    button {
      background-color: white;
      color: rgb(66, 66, 153);
      font-size: 25px;
      border-radius: 20px;
    }
  }
}

.filter {
  display: flex;
  align-items: center;
  .filterDay {
    display: flex;
    gap: 10px;
    .activeButton {
      background-color: rgb(66, 66, 153);
      color: #f0f0f0;
      font-size: 25px;
      border-radius: 20px;
    }
    button {
      margin: 0;
      font-size: 25px;
      border-radius: 20px;
      background-color: #ffffff;
      color: rgb(66, 66, 153);
      padding: 10px;
    }
  }
  .filterTime {
    margin: 0 20px;
    .dropdown {
      margin: 0;
      font-size: 25px;
      border-radius: 20px;
      background-color: #ffffff;
      color: rgb(66, 66, 153);
      padding: 10px;
    }
  }
}

.cards {
  .card-group {
    padding: 100px 0 !important;
  }

  .cardImage {
    position: relative;
    .lessonType {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      background-color: rgb(66, 169, 76);
      padding: 3px 10px;
      border-radius: 10px;
    }

    .lessonName {
      position: absolute;
      top: 10px;
      left: 10px;
      color: rgb(66, 169, 76);
      background-color: rgb(255, 255, 255);
      padding: 3px 10px;
      border-radius: 10px;
    }
  }

  .cardBody {
    background-color: rgb(66, 66, 153);
  }

  .teacherName,
  .cardDesc {
    color: white;
    margin: 0;
  }

  .cardDesc {
    font-size: 24px;
  }
}

.resetButton {
  button {
    background-color: rgb(66, 66, 153);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
  }
}
