.cards {
  .card-group {
    padding: 50px 0 !important;
  }

  .cardImage {
    position: relative;
    .lessonType {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      background-color: #db3580;
      padding: 3px 10px;
      border-radius: 10px;
    }

    .lessonName {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #db3580;
      background-color: rgb(255, 255, 255);
      padding: 3px 10px;
      border-radius: 10px;
    }
  }

  .cardBody {
    background-color: #db3580;
  }

  .teacherName,
  .cardDesc {
    color: white;
    margin: 0;
  }

  .cardDesc {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .addToCard {
    background-color: white;
    color: #db3580;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 15px;
  }
}
