.courseHero {
  margin-bottom: 40px;

  .bg {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
    background: #db3580;

    .courseTitle {
      text-align: center;
      position: relative;
      top: 80px;
      color: #fff;
      font-size: 60px;
      font-weight: 700;
      padding: 2px;
    }

    .imgWrapper {
      position: absolute;
      bottom: -52%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #f7f7fb;
      width: 170px;
      height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      clip-path: polygon(
        50% 0,
        90% 20%,
        100% 60%,
        75% 100%,
        25% 100%,
        0 60%,
        10% 20%
      );

      img {
        width: 150px;
        height: 150px;
        object-fit: contain;
        clip-path: inherit;
      }
    }
  }

  .heroContent {
    background: #fff;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .rateCourse {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .stars {
        margin-bottom: 15px;

        span {
          color: #db3580;
          font-size: 2rem;
          margin: 0 10px;
        }
      }
    }

    .instructor {
      margin-top: 20px;
      text-align: center;

      h1 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1.3rem;
        color: #afb0c0;
        font-weight: 400;
        margin: 0;
      }
    }

    .actionBtns {
      margin-top: 20px;
      text-align: center;

      .greyBtn,
      .blueBtn {
        cursor: pointer;
        outline: none;
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        margin: 10px;
        color: #fff;
      }

      .greyBtn {
        background: linear-gradient(0deg, #7b7b7b, #d8d8d8);
      }

      .blueBtn {
        background: #db3580;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .bg .courseTitle {
      font-size: 30px;
    }

    .heroContent .instructor h1 {
      font-size: 1.5rem;
    }

    .heroContent .instructor h3 {
      font-size: 1rem;
    }

    .instructor {
      order: 1;
    }

    .rateCourse {
      order: 2;
    }

    .actionBtns {
      order: 3;
    }
  }

  @media only screen and (min-width: 1501px) {
    .heroContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.sidebar {
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px;
  background: #fff;
  overflow-y: auto;
  width: 100%;
  z-index: 3;
  height: 90vh;

  h4 {
    text-align: center;
  }

  .imgBox {
    text-align: center;

    img {
      width: 70%;
      border-radius: 5px;
      box-shadow: 0 0 10px gray;
    }
  }

  .shortInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 40px;
    text-align: center;

    p {
      font-size: 0.9em;

      &:last-child {
        color: gray;
      }
    }

    .divider {
      height: 15px;
      width: 1px;
      background: silver;
    }
  }

  .sidebarVideos {
    padding-top: 30px;

    .active {
      background: #db3580;
      color: #fff;
    }

    .moduleInfo,
    .videoInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .moduleInfo p:last-child,
    .videoInfo a p:first-child {
      font-size: 0.8em;
      font-weight: bold;
    }

    .videoInfo {
      padding: 5px 0;

      a {
        display: inline-flex;
        align-items: center;

        &:hover p:last-child {
          color: #db3580;
        }
      }
    }
  }

  @media (max-width: 1050px) {
    .shortInfo {
      display: block;

      & > div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 3px 0;
      }

      .divider {
        display: none;
      }
    }
  }

  @media (max-width: 800px) {
    width: 100%;
  }

  .videoInfoContentText,
  .examDisplay {
    display: flex;

    p {
      margin: 0 10px;
    }
  }
}

.aboutCourse {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 20px;

  h4 {
    text-align: center;
  }

  p {
    margin-top: 20px;
    font-size: 0.9em;
    line-height: 1.5;
  }
}

.buyBtn {
  cursor: pointer;
  outline: none;
  background: #db3580;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 10px;
  border: none;
}

.courseContent {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }

  .lessonItem {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .lessonTitle {
      font-size: 18px;
      font-weight: 500;
      margin: 0;
      flex-grow: 1;
    }

    .lessonStatus {
      font-size: 14px;
      color: #666;
      margin: 0;
      padding-right: 10px;
      text-align: right;
    }

    .checkboxContainer {
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 24px;
      cursor: pointer;

      .checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #ccc;
        border-radius: 4px;
      }

      .checkbox:checked ~ .checkmark {
        background-color: #007bff;
      }
    }
  }

  .buyBtn {
    // width: 100%;
    padding: 10px;
    background-color: #d63384;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #c2185b;
    }
  }

  .content {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;

    h4 {
      font-size: 22px;
      font-weight: 600;
      color: #333;
      margin-bottom: 15px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 10px;
      }
    }
  }
}
