.lessonSection {
  margin: 20px 0;
  padding: 20px;

  .lessons {
    background-color: white;
    padding: 20px;

    h2 {
      margin: 20px 0;
    }

    .rightContent {
      .time {
        background-color: rgb(239, 76, 76);
        color: white;
        border-radius: 20px;
        text-align: center;
        margin-bottom: 10px;
        padding: 4px 15px;
        
      }

      .price {
        background-color: rgb(232, 212, 212);
        color: rgb(222, 50, 50);
        border-radius: 20px;
        text-align: center;
      }
    }
  }
  .cardBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
